<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   config.plist
   NHK-World-XML-to-XMLTV

   Created by Guillaume on 31/01/2017.
   Copyright (c) 2017 CrazySquirrel. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
